html, body {
  background: #7bb951;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}
canvas {
  background: #eee url('transparent_bkg.png') top left repeat;
}